.p-wrap{
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.odd, .even, .sunday{
  display: none;
}

//---------------------------------------------
/* 側邊欄 */
.p-sidebar{
  position: absolute;
  width: 80%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  transition: all 0.5s;
  @media (min-width: 768px) {
    width: 60%;
  }
  @media (min-width: 992px) {
    width: 40%;
  }
  @media (min-width: 1024px) {
    width: 35%;
  }
  @media (min-width: 1200px) {
    width: 30%;
  }
}

.panelClose{
  margin-left: -80%;
}

@media (min-width: 768px) {
  .panelClose{
    margin-left: -60%;
  }
}

@media (min-width: 992px) {
  .panelClose{
    margin-left: -40%;
  }
}

@media (min-width: 1024px) {
  .panelClose{
    margin-left: -35%;
  }
}

@media (min-width: 1200px) {
  .panelClose{
    margin-left: -30%;
  }
}

//------------------------------------------
.content{
  height: 100%;
  position: absolute;
  right: 0;
  overflow-y: hidden;
  display: block;
}

/* 地圖容器 */
.p-map{
  height: 100%;
  width: 100%;
}
.p-map.active{
  transform: translateX(0);
  max-width: 100%;
}

/* nav.p-nav 側邊欄上方 */
.p-nav {
  position: sticky;
  background-color: $primary;
  padding: 0.46875rem 0.59375rem;
  color: #fff;
  .p-select{
    font-size: 0.875rem;
    height: 31px;
    flex: 1;
    border: none;
    padding:0px 15px;
    border-radius: 20px;
    appearance: none;
    background: #fff url('https://albertnotes.github.io/F2E_maskMap/black_18dp.b6e2e16b.png') no-repeat 95%;
    background-size: 24px;
    margin-bottom: 0.5rem;
  }
}


/* 身份證碼的顏色 */
.wordColor {
  color:#faf900;
}

/* 搜尋 */
.c-shrinkIcon{
  position: relative;
}
.c-shirnkIcon__input{
  font-size: 0.875rem;
  height: 31px;
  width: 100%;
  background-color: #fff;
  border: none;
  padding-left: 10px;
  padding-right: 35px;
  border-radius: 20px;
}
.c-shirnkIcon__icon{
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 1.2rem;
  color: #a5a5a5;
  width: 30px;
  padding: 6px 0;
  text-align: center;
}


//-------------------------------
