.odd, .even, .sunday{
  display: none;
}

/* ------loading----- */
.p-wrap{
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.c-loading {
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 25%;
  left: 0;
  z-index: 999;
  background-color: rgba(#000, 0, 0, 0.8);
}


.c-loading__ring {
  position: absolute;
  width: 58px;
  height: 58px;
  z-index: 9999;
  top: 0.8rem;
  right: 0.8rem;
}

.c-loading__ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 8px;
  border: 3px solid rgb(5, 110, 247);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(5, 110, 247) transparent transparent transparent;
}

.c-loading__ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.c-loading__ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.c-loading__ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*---------------------------------------------------------*/

/* 側邊欄 */
.p-sidebar{
  position: absolute;
  width: 420px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  transition: all 0.5s;
}

/* 地圖容器 */
.p-map{
  height: 100%;
  max-width: calc(100% - 420px);
  transform: translateX(420px);
  transition: all 0.5s;
}
.p-map.active{
  transform: translateX(0);
  max-width: 100%;
}

