@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');

html, body{
  color: #333333;
  height: 100%;
  width: 100%;
  font-family: Not Sans Tc , sans-serif;
}

$font-size-base: 12px;
$theme-fonts: (
  h1: $font-size-base * 2.5,
  h2: $font-size-base * 2,
  h3: $font-size-base * 1.75,
  h4: $font-size-base * 1.5,
  h5: $font-size-base * 1.25,
  h6: $font-size-base,
);

$font-small-size:(
  small-text-1: 10px,
  small-text-2: 8px,
);

@each $name, $value in $theme-fonts {
  .#{$name},
  #{$name}{
    font-size: $value;
  }
}

@each $name, $value in $font-small-size {
  .#{$name}{
    font-size: $value;
  }
}