// stylelint-disable indentation

// Utitilites
$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    
    "font-size": (
      responsive: true,//new
      rfs: false,
      property: font-size,
      class: fs,
      values: $font-sizes
    ),
    "overflow": (
    responsive: true,
    property: overflow,
    values: visible hidden scroll auto,
    ),
  ),
  $utilities
);


// media queries width 設為變數
$breakpoints: (
  'smallMobile': 576px,
  'mobile': 767px,
  'ipad': 992px,
  'desktop': 1200px,
) !default;

@mixin respond($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}