.c-sideButton {
  position: absolute;
  top: 123px;
  right: -17px;
  height: 49px;
  width: 17px;
  background: url('https://albertnotes.github.io/F2E_maskMap/white_24dp.be329b3c.png') no-repeat 50%;
  background-color: #73c0d8;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0 10px 10px 0;
}